<!DOCTYPE html>
<html>
  <head>
    <title>Book Details</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Book Details</h1>
    <p>Title: <%= book.title %></p>
    <p>Author: <%= book.author %></p>
  </body>
</html>
